body {
    background-color: #9fd4ff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.main {
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #3868af;
    top: 50px;
    left: 50px;
}

.main-title {
    text-align: left;
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid rgb(226, 226, 226);
    margin-top: 0;
}

.main-content {
    padding: 0px 10px 0px 10px;
}

.bar {
    background-color: rgb(250, 241, 215);
    overflow: hidden;
    position: relative;
    text-align: right;

    cursor: grab;
}

.bar:active {
    cursor: grabbing;
}

.X {
    padding: 5px 15px 5px 15px;
    background-color: rgb(236, 93, 93);
    border: none;

    cursor: pointer;
}

.X:hover {
    background-color: rgb(230, 79, 91);
}

.X:active {
    background-color: rgb(197, 51, 63);;
}

.icon {
    height: 10%;
}

.pasdeicon {
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    width: min-content;
}

.pasdeicon:hover {
    background-color: #89b8ff;
}

.pasdeicon:active {
    background-color: #afcfff;
}

.page-container {
    display: flex;
}

.page {
    background-color: rgb(255, 199, 192);
    margin: 20px 20px 20px 20px;
    padding: 0px 20px 20px 20px;

    text-align: center;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;

    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.page:hover {
    background-color: rgb(255, 190, 188);
}

.page:active {
    background-color: rgb(255, 159, 156);
}

.page a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.page-title {
    margin: 0;
    padding: 15px 0 15px 0;
}


.page-image {
    width: 100%;
    height: auto;
}